#masterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 600px;
}

#buttonHolder {
    padding: 5px;
    width: 200px;
    height: 600px;
}


#board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: tan;
}

.gamespace {
    width: 198px;
    height: 198px;
    border: solid 1px black;
    font-size: 200px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#gameControl {
    margin-top: 0px;
}

#userMsg {
    font-size: 22px;
    text-align: center;
}